$primary: #d37f03;
$secondary: #ff9800;
$error: #bb1e40;
$success: #1f8d24;
$hovered-bg: $secondary !default;
$default-bg: #efefef;
$default-bg-light: #f6f6f6;
$default-bg-border: 1px solid #cdcdcd;
$border-radius: 4px;
$font-family: "Segoe UI", Arial, Tahoma, Geneva, Verdana, sans-serif;
