.upload-input {
  width: 50%;
  margin: 0 auto;

  button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: #17f9ff;
    color: #001449;
    font-size: 16px;
    cursor: pointer;

    &:hover {
      background-color: #66faff;
    }
  }
}
