registry=https://registry.npmjs.org/
@basf:registry=https://pkgs.dev.azure.com/basf4AP/AP-Veeva-Vault/_packaging/basf-npm-library/npm/registry/
always-auth=true
legacy-peer-deps=true

//pkgs.dev.azure.com/basf4AP/AP-Veeva-Vault/_packaging/basf-npm-library/npm/registry/:username=${NPM_AUTH_USERNAME}
//pkgs.dev.azure.com/basf4AP/AP-Veeva-Vault/_packaging/basf-npm-library/npm/registry/:_password=${NPM_AUTH_TOKEN}
//pkgs.dev.azure.com/basf4AP/AP-Veeva-Vault/_packaging/basf-npm-library/npm/registry/:email=not-used@example.com