.loader {
  position: relative;
}

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.loader-overlay .k-loader {
  z-index: 1000;
}

.blur {
  filter: blur(5px);
}

.k-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: relative;

  &.blur {
    @extend .blur;
  }

  fieldset {
    width: 60%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    legend {
      padding: 0 10px;
      font-weight: bold;
    }
  }

  .submit-button {
    display: flex;
    justify-content: flex-end;
    button {
      padding: 5px 10px;
      border: none;
      border-radius: 4px;
      background-color: #daa520;
      color: white;
      font-size: 16px;
      cursor: pointer;

      &:hover {
        background-color: #ffd700;
      }
    }
  }

  p {
    color: red;
    padding-top: 5px;
    margin-right: 5px;
    text-align: center;
  }
}
